.emacs.d/
.gnupg/
.subversion/
.local/
\#*
*.stackdump
.DS_Store
.gitignore.swp
.spacemacs.swp

# html output from README.org (C-c C-e h o)
README.html

# private directories
private/
!private/README.org
!private/.backupb/README.org